<div id="login-container" class="container">
    <div class="login-wrapper">
        <div class="login-title d-flex justify-content-between">
            <h3>ĐỔI MẬT KHẨU</h3>
        </div>
        <form class="login-form" method="POST" action="/login">

            <label class="mt-2 col-sm-5 col-form-label">Mật khẩu cũ</label>
            <div class="col">
                <input type="password" name="current-password" class="form-control" placeholder="Nhập mật khẩu hiện tại.." required>
            </div>

            <label class="mt-2 col-sm-5 col-form-label">Mật khẩu mới</label>
            <div class="col">
                <input type="password" name="new-password" class="form-control" placeholder="Nhập mật khẩu mới.." required>
            </div>
            
            <label class="mt-2 col-sm-5 col-form-label">Xác nhận mật khẩu</label>
            <div class="col">
                <input type="password" name="confirm-password" class="form-control" placeholder="Xác nhận mật khẩu mới.." required>
            </div>

            <div class="col-12 mt-4 btn btn-primary btn-success btn-change-password">ĐỔI MẬT KHẨU</div>
        </form>
    </div>
</div>

<div id="user-identify" userId="{{user.userId}}" username="{{user.userUserName}}" style="display: none;"></div>

<script>
    $(document).ready(function(){
        const userId = $('#user-identify').attr('userId');

        //check-password
        checkPassword = function(CurPass){
            const url = `http://localhost:8080/api/v1/userinfo/${userId}/check-password`;
            return fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    curPassword: CurPass
                }),
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/json'
                },
            })
            .then(res => res.text())
            .then(result => result)
            .catch((e) => alert('Connect failed !! Exception: ' + e));
        }

        //change-password
        changePassword = function(newPass){
            const url = `http://localhost:8080/api/v1/userinfo/${userId}/change-password`;
            return fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    newPassword: newPass
                }),
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/json'
                },
            })
            .then(res => res.text())
            .then(result => result)
            .catch((e) => alert('Connect failed !! Exception: ' + e));
        }

        //change password clicked
        $('.btn-change-password').click(async function(){
            
            const inputCurPass = $('input[name="current-password"]');
            const inputNewPass = $('input[name="new-password"]');
            const inputConfirmPass = $('input[name="confirm-password"]');
            
            if (!inputCurPass.val() || !inputNewPass.val() || !inputConfirmPass.val()) alert('Nhập đầy đủ thông tin !!!');
            else if (inputConfirmPass.val() != inputNewPass.val()) alert('Xác nhận mật khẩu không khớp !!! Vui lòng thử lại.');
            else {
                const checkPasswordMatched = await checkPassword(inputCurPass.val());
                if (checkPasswordMatched === 'false') alert('Sai mật khẩu !!!');
                else {
                    const checkChangePassword = await changePassword(inputNewPass.val());
                    if (!checkChangePassword) alert('Đổi mật khẩu thất bại !!!');
                    else alert('Đổi mật khẩu thành công !!!');
                }
            }
        })
    })
</script>