<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-modal-noti d-none" data-bs-toggle="modal" data-bs-target="#modalNoti">
</button>

<!-- Modal -->
<div class="modal fade modal-noti" id="modalNoti" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary btn-continue">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="login-container" class="container">
    <div class="login-wrapper">
        <div class="login-title d-flex justify-content-between">
            <h3>LẤY LẠI MẬT KHẨU</h3>
            <a href="/login" class="btn btn-outline-dark btn-switch">Quay lại</a>
        </div>

        <label class="col-sm-3 col-form-label">Tên đăng nhập</label>
        <div class="col">
            <input type="text" name="username" class="form-control" placeholder="Nhập tên đăng nhập.." required>
        </div>

        <form class="forget-password-form" method="POST" action="/" style="display: none">

            <div class="separate btn-login-separate"></div>
            
            <label class="col-sm-3 col-form-label">OTP</label>
            <div class="col">
                <input type="text" name="otp" class="form-control" placeholder="Nhập mã OTP.." required>
            </div>

            <label class="col-sm-3 col-form-label">Mật khẩu</label>
            <div class="col">
                <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới.." required>
            </div>

            <label class="col-sm-3 col-form-label">Xác nhận Mật khẩu</label>
            <div class="col">
                <input type="password" name="new-password" class="form-control" placeholder="Nhập lại mật khẩu mới.." required>
            </div>

        </form>
        
        <button class="btn btn-success mt-4 btn-login-form btn-send-otp">GỬI OTP</button>
        <button class="btn btn-success mt-4 btn-login-form btn-reset-password" style="display: none;">XÁC NHẬN ĐỔI MẬT KHẨU</button>

    </div>
</div>

<script>
    //SHOW MODAL
    class modalHandler {
        showModalNoti = (notiTitle ,notiMessage) => {
            $('.modal-noti .btn-continue').css('display', 'none');
            $('.modal-noti').find('.modal-title').html(notiTitle);
            $('.modal-noti').find('.modal-body').html(notiMessage);
            $('.btn-modal-noti').click();
        }

        showModalOption = (notiTitle ,notiMessage, nextOption) => {
            $('.modal-noti .btn-continue').html(nextOption);
            $('.modal-noti').find('.modal-title').html(notiTitle);
            $('.modal-noti').find('.modal-body').html(notiMessage);
            $('.btn-modal-noti').click();
        }

        redirectModal = (href) => {
            window.location.href = href;
        }
    };

    //get user by username
    getUser = (username) => {
        const url =  `https://localhost:44366/api/userinfo/check-exists/${username}`;
        return fetch(url, {
            method: 'GET',
            headers: {
            'Access-Control-Allow-Origin': '*',
            'Content-Type': 'application/json'
            },
        })
        .then(res => res.json())
        .then(user => user)
        .catch((e) => console.log('Kết nối thất bại !!! Lỗi:' + e));
    }

    //get OTP 
    getOtp = (userEmail) => {
        return $.post('/forget-password/send-otp', {
            email: userEmail
        })
        .then(res => res.otp)
        .catch(e => {showModal.showModalNoti('Đã xảy ra lỗi','Email không tồn tại !');})
    }

    $(document).ready(function(){
        let Otp = '';
        let userInfo = {};

        //SEND OTP CLICKED
        $('.btn-send-otp').click(async function(){
            const userName = $('input[name="username"]').val();
            const showModal = new modalHandler();

            if(userName){
                userInfo = await getUser(userName);
                if (userInfo.userEmail){
                    Otp = await getOtp(userInfo.userEmail);
                    if (Otp){
                        $('.forget-password-form').css('display','block');
                        $('.btn-send-otp').css('display', 'none');
                        $('.btn-reset-password').css('display', 'block');
                    }
                }
                else {
                    showModal.showModalNoti('Đã xảy ra lỗi','Tên đăng nhập không tồn tại !');
                }
            }
            else {
                showModal.showModalNoti('Thông báo','Nhập tên đăng nhập trước !');
            }
        });

        //RESET PASSWORD CLICKED
        $('.btn-reset-password').click(function(){
            const showModal = new modalHandler();
            const inputNewPassword = $('input[name="password"]').val();
            const inputConfirmPassword = $('input[name="new-password"]').val();
            const inputOtp = $('input[name="otp"]').val();

            if (!inputNewPassword || !inputConfirmPassword || !inputOtp)
                showModal.showModalNoti('Thông báo','Nhập đầy đủ thông tin !!!');
            else if (inputNewPassword != inputConfirmPassword) 
                showModal.showModalNoti('Thông báo','Mật khẩu không khớp !!!');
            else if (inputOtp != Otp) 
                showModal.showModalNoti('Thông báo','OTP không khớp !!!');
            else {
                const url = `http://localhost:8080/api/v1/userinfo/${userInfo.userId}/change-password`;
                return fetch(url, {
                    method: 'POST',
                    body: JSON.stringify({
                        newPassword: inputNewPassword
                    }),
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Content-Type': 'application/json'
                    },
                })
                .then(res => res.text())
                .then(result => {
                    showModal.showModalOption('Thông báo','Cập nhật mật khẩu thành công!!','Quay lại đăng nhập');
                    $('.btn-continue').click(function(){
                        showModal.redirectModal('/login');
                    })
                })
                .catch((e) => alert('Connect failed !! Exception: ' + e)); 
            }
        })
    })
</script>