<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-modal-noti d-none" data-bs-toggle="modal" data-bs-target="#modalNoti">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade modal-noti" id="modalNoti" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="register-container" class="container">
    <div class="register-wrapper">
        <form class="register-form" method="POST" action="/register">
            <div class="register-form__account">
                <div class="register-title d-flex justify-content-between">
                    <h3>Create Account</h3>
                    <a href="/login" class="btn btn-outline-dark btn-switch">Sign in</a>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Username</label>
                <div class="col">
                    <input type="text" name="username" minlength="5" maxlength="16" class="form-control" placeholder="Your login name (5-16 letters)...">
                    <div class="mt-1 noti-warning noti-length-username" style="display: none;">Unexpected username length !!!</div>
                    <div class="mt-1 noti-warning noti-exist-username" style="display: none;">Username already exists !!!</div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Password</label>
                <div class="col">
                    <input type="password" name="password" minlength="5" maxlength="16" class="form-control" placeholder="Your password...">
                    <div class="mt-1 noti-warning noti-length-password" style="display: none;">Unexpected passsord length !!!</div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label w-100">Confirm password</label>
                <div class="col">
                    <input type="password" name="confirm-password" class="form-control" placeholder="Confirm your password...">
                </div>

                <label class="mt-2 col-sm-2 col-form-label w-100">Email</label>
                <div class="col">
                    <input type="email" name="email" class="form-control" placeholder="Your email...">
                </div>

                <select class="mt-5 form-select user-type" aria-label="Default select example">
                    <option selected>Type of Account</option>
                    <option value="1">Buyer</option>
                    <option value="2">Seller</option>
                    <option value="3">Shipper</option>
                </select>

                <div class="btn btn-success mt-4 btn-step btn-next-1 float-end">NEXT</div>
            </div>

            <div class="register-form__info" style="display: none;">
                <div class="register-title d-flex justify-content-between">
                    <h3>Your Infomation</h3>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Full Name</label>
                <div class="col">
                    <input type="text" name="full-name" class="form-control" placeholder="Your full name...">
                </div>
               
                <label class="mt-2 col-sm-2 col-form-label">Gender</label>
                <select class="form-select user-gender" aria-label="Default select example">
                    <option value="1" selected>Male</option>
                    <option value="2">Female</option>
                    <option value="3">Others</option>
                </select>

                <div class="row justify-content-between">
                    <div class="col-4">
                      <label class="mt-2 col-form-label">Day</label>
                        <input type="text" name="day" class="form-control" placeholder="DD">
                    </div>
                    
                    <div class="col-4">
                        <label class="mt-2 col-form-label w-100">Month</label>
                        <input type="text" name="month" class="form-control" placeholder="MM">
                    </div>

                    <div class="col-4">
                        <label class="mt-2 col-form-label w-100">Year</label>
                        <input type="text" name="year" class="form-control" placeholder="YYYY">
                    </div>
                </div>

                <label class="mt-2 col-form-label w-100">Address</label>
                <div class="row">
                    <div class="col-6">
                      <select class="form-select user-province">
                          <option selected>Province</option>
                      </select>
                    </div>

                    <div class="col-6">
                      <select class="form-select user-district">
                          <option selected>District</option>
                      </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <select class="form-select user-ward">
                            <option selected>Ward</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" name="address" class="form-control" placeholder="Address details...">
                    </div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Full Name</label>
                <div class="col">
                    <input type="number" name="phone" class="form-control" placeholder="Your phone number...">
                </div>

                <div>
                  <div class="btn btn-success mt-4 btn-step btn-prev-2 float-start">PREVIOUS</div>
                  <div class="btn btn-success mt-4 btn-step btn-next-2 float-end">NEXT</div>
                </div>
            </div>
        </form>
        <form method="POST" action="/register/upload-avatar" enctype="multipart/form-data" class="register-form__avatar" style="display: none;">
            <div class="register-title text-center">
                <h3>Avatar</h3>
            </div>
            <input type="text" name="url" style="display: none;">
            <input type="file" name="img" accept="image/png, image/gif, image/jpeg" style="display: none;">
            
            <div class="avatar-wrapper">
              <div class="avatar-input" style="background-image: url('/img/camera.png');">
              </div>
              <div class="avatar-default" style="background-image: url('/img/default-avatar.jpg');">
              </div>
            </div>

            <div>
              <div class="btn btn-success mt-4 btn-step btn-prev-3 float-start">PREVIOUS</div>
              <div class="btn btn-success mt-4 btn-step btn-next-3 float-end">SKIP AND DONE</div>
            </div>
        </form>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-modal-otp d-none" data-bs-toggle="modal" data-bs-target="#modalOtp">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade modal-otp" id="modalOtp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Validate Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
            <h2 class="">OTP</h2>
            <div class="col d-flex align-items-center justify-content-center">
                <input type="number" name="otp" class="mt-2 mb-2">
                <i class="fas fa-sync-alt btn-re-send-otp"></i>
            </div>
            <div class="noti-warning mb-2 noti-warning-otp" style="display: none;">Unmatched !! Try again or Re-send OTP</div>
            <div class="noti-success mb-2 noti-sent-otp" style="display: none;">OTP sent !</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close-modal-otp" data-bs-dismiss="modal">Close</button>
        <div class="btn btn-primary btn-confirm-otp">Submit</div>
      </div>
    </div>
  </div>
</div>




<script src="/js/registry.js">

</script>