<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-modal-noti d-none" data-bs-toggle="modal" data-bs-target="#modalNoti">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade modal-noti" id="modalNoti" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div id="register-container" class="container">
    <div class="register-wrapper">
        <form class="register-form" method="POST" action="/register">
            <div class="register-form__account">
                <div class="register-title d-flex justify-content-between">
                    <h3>THÔNG TIN TÀI KHOẢN</h3>
                    <a href="/login" class="btn btn-outline-dark btn-switch">ĐĂNG NHẬP</a>
                </div>

                <label class="mt-2 col-sm-4 col-form-label">Tên đăng nhập</label>
                <div class="col">
                    <input type="text" name="username" minlength="5" maxlength="16" class="form-control" placeholder="Nhập tên đăng nhập (5-16 kí tự)...">
                    <div class="mt-1 noti-warning noti-length-username" style="display: none;">Độ dài không đúng !!!</div>
                    <div class="mt-1 noti-warning noti-exist-username" style="display: none;">Tên đăng nhập đã tồn tại !!!</div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Mật khẩu</label>
                <div class="col">
                    <input type="password" name="password" minlength="5" maxlength="16" class="form-control" placeholder="Nhập mật khẩu...">
                    <div class="mt-1 noti-warning noti-length-password" style="display: none;">Độ dài không đúng !!!</div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label w-100">Xác nhận mật khẩu</label>
                <div class="col">
                    <input type="password" name="confirm-password" class="form-control" placeholder="Nhập lại mật khẩu...">
                </div>

                <label class="mt-2 col-sm-2 col-form-label w-100">Tài khoản Email</label>
                <div class="col">
                    <input type="email" name="email" class="form-control" placeholder="Nhập tài khoản email...">
                </div>

                <select class="mt-5 form-select user-type" aria-label="Default select example">
                    <option selected>Loại tài khoản</option>
                    <option value="1">Người mua</option>
                    <option value="2">Người bán</option>
                    <option value="3">Người giao hàng</option>
                </select>

                <div class="btn btn-success mt-4 btn-step btn-next-1 float-end">Tiếp tục</div>
            </div>

            <div class="register-form__info" style="display: none">
                <div class="register-title d-flex justify-content-between">
                    <h3>THÔNG TIN CÁ NHÂN</h3>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Tên đầy đủ</label>
                <div class="col">
                    <input type="text" name="full-name" class="form-control" placeholder="Nhập họ tên...">
                </div>
               
                <label class="mt-2 col-sm-2 col-form-label">Giới tính</label>
                <select class="form-select user-gender" aria-label="Default select example">
                    <option value="1" selected>Nam</option>
                    <option value="2">Nữ</option>
                    <option value="3">Khác</option>
                </select>

                <div class="row justify-content-between">
                    <div class="col-4">
                      <label class="mt-2 col-form-label">Ngày</label>
                        <input type="text" name="day" class="form-control" placeholder="DD">
                    </div>
                    
                    <div class="col-4">
                        <label class="mt-2 col-form-label w-100">Tháng</label>
                        <input type="text" name="month" class="form-control" placeholder="MM">
                    </div>

                    <div class="col-4">
                        <label class="mt-2 col-form-label w-100">Năm</label>
                        <input type="text" name="year" class="form-control" placeholder="YYYY">
                    </div>
                </div>

                <label class="mt-2 col-form-label w-100">Địa chỉ</label>
                <div class="row">
                    <div class="col-6">
                      <select class="form-select user-province">
                          <option selected>Tỉnh</option>
                      </select>
                    </div>

                    <div class="col-6">
                      <select class="form-select user-district">
                          <option selected>Quận/Huyện/Thành phố</option>
                      </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <select class="form-select user-ward">
                            <option selected>Xã/Phường/Thị trấn</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ chi tiết...">
                    </div>
                </div>

                <label class="mt-2 col-sm-2 col-form-label">Số điện thoại</label>
                <div class="col">
                    <input type="number" name="phone" class="form-control" placeholder="Nhập số điện thoại...">
                </div>

                <div>
                  <div class="btn btn-success mt-4 btn-step btn-prev-2 float-start">QUAY LẠI</div>
                  <div class="btn btn-success mt-4 btn-step btn-next-2 float-end">TIẾP TỤC</div>
                </div>
            </div>
        </form>
        <form method="POST" action="/register/upload-avatar" enctype="multipart/form-data" class="register-form__avatar" style="display: none;">
            <div class="register-title text-center">
                <h3>Ảnh đại diện</h3>
            </div>
            <input type="text" name="url" style="display: none;">
            <input type="file" name="img" accept="image/png, image/gif, image/jpeg" style="display: none;">
            
            <div class="avatar-wrapper">
              <div class="avatar-input" style="background-image: url('/img/camera.png');">
              </div>
              <div class="avatar-default" style="background-image: url('/img/default-avatar.jpg');">
              </div>
            </div>

            <div>
              <div class="btn btn-success mt-4 btn-step btn-prev-3 float-start">QUAY LẠI</div>
              <div class="btn btn-success mt-4 btn-step btn-next-3 float-end">BỎ QUA VÀ HOÀN TẤT</div>
            </div>
        </form>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-modal-otp d-none" data-bs-toggle="modal" data-bs-target="#modalOtp">
</button>

<!-- Modal -->
<div class="modal fade modal-otp" id="modalOtp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
            <h2 class="">OTP</h2>
            <div class="col d-flex align-items-center justify-content-center">
                <input type="number" name="otp" class="mt-2 mb-2 me-4">
                <i class="fas fa-sync-alt btn-re-send-otp"></i>
            </div>
            <div class="noti-warning mb-2 noti-warning-otp" style="display: none;">OTP không khớp !!!</div>
            <div class="noti-success mb-2 noti-sent-otp" style="display: none;">Đã gửi OTP !! Kiểm tra email của bạn</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close-modal-otp" data-bs-dismiss="modal">Đóng</button>
        <div class="btn btn-primary btn-confirm-otp">Xác nhận</div>
      </div>
    </div>
  </div>
</div>




<script src="/js/registry.js"></script>